.setFont{
    font-family: 华文行楷;
    font-weight: 400;
    color: white
}
.setWR{
    font-family: 微软雅黑;
    font-weight: 300;
    color: white;
}
.setstyle{
    font-family: "微软雅黑 Light";
    font-weight: 500;
    font-size: 16px;
    color: white;
}